<% @tweets.includes(:author, :likes).each do |tweet|%>
       <div class="d-flex justify-content-between pr-3">
        <p><%= tweet.author.fullname unless tweet.author.blank?%><%= '@' + tweet.author.username unless tweet.author.blank?%></p>
         <p><%= tweet.created_at.strftime("#{tweet.created_at.day.ordinalize} %B %Y %l:%M%P")%></p>
       </div>
        <p><%= tweet.text%></p>
        <%=like_btn(tweet)%>
        <%=tweet.likes.count%>
        <hr class="my-4">
<%end%>