<% @tweets.includes(:author, :likes).each do |tweet|%>
       <div class="d-flex justify-content-between pr-3 pb-3 profile-feed">
        <div>
        <img src="<%=tweet.author.photo unless tweet.author.blank?%>" class="rounded-circle"/>
        <span class='font-weight-bold text-primary pl-3 '><%=tweet.author.fullname unless tweet.author.blank?%><%= '@' + tweet.author.username unless tweet.author.blank?%></span>
        </div>
        <p><%= tweet.created_at.strftime("#{tweet.created_at.day.ordinalize} %B %Y %l:%M%P")%></p>
       </div>
        <p><%= tweet.text%></p>
      <div class>
        <div>
          <%=like_btn(tweet)%>
          <%=tweet.likes.count%>
        </div>
      </div>
        <hr class="my-4">
<%end%>