<div class= " row d-flex">
<%=render 'left_nav'%>
<div class="text-light col-10">
    <%=render 'top_nav'%>
	<div class="row">
	<div class="col-8">
	<div class="tweet-form">
	   <%=render 'tweet_form'%>
    </div>
	<div class="tweet_feed text-dark">
	   <%=render 'feed'%>
	</div>
	</div>
	<div class="col-4 text-dark">
	<div class="follow">
	   <%=render 'who_to_follow'%>
    </div>
	</div>
	</div>
</div>
</div>