<div class="section  mx-auto w-50 pt-5 mt-5 col-12">
<div class="container">
<div class="logo text-primary">
  <p class="d-flex justify-content-center">Africa Facts Zone</p>
 </div>
<h1 class="text-primary">Sign Up</h1>
<br>
<%= form_with model: @user do |form| %>
    <%= form.text_field :username, placeholder: "Enter your Username", class: 'form-control'%>
    <br>
    <br>
     <%= form.text_field :fullname, placeholder: "Enter your Fullname", class: 'form-control'%>
    <br />
     <%= form.label :photo, "Choose your profile image"%>
     <br />
     <%= form.file_field :photo, label: "Enter your Fullname"%>
     <br />
     <br />
      <%= form.label :cover_image, "Choose your cover image"%>
       <br />
     <%= form.file_field :cover_image%>
    <br/>
    <br/>
    <%= form.submit "Submit", class: "btn-primary  btn"%>
<% end %>
<p>Already have an account? </p>
<%= link_to 'Sign in',users_sign_in_path %>
</div>
</div>