<div class="d-flex row no-gutters">
<div class="left_side col-2">
<%=render 'tweets/left_nav'%>
</div>
<div class="lower_side col-10">
    <%=render 'tweets/top_nav'%>
   <div class="d-flex row no-gutters">
   <div class="col-8 ">
	<div class="top_image mr-3">
      <%=  image_tag("photo_profile.jpg", :alt => "profile_image", class: "w-100") %>
      </div>
	<div class="personal_tweets bg-white rounded-md shadow mx-3 pl-5 mt-3">
     <%@personal_tweets.each do |personal|%>
     <div class="d-flex justify-content-between pr-4">
       <p><%= personal.text%></p>
       <p><%= personal.created_at.strftime("%Y/%m/%d")%></p>
       </div>
	   <br>
     <%end%>
    </div>
	</div>
	<div class="col-4 text-center">
            <p class="panel-heading">Profile</p>
                        <%= avatar_for(@user, classes: nil)%>
                        <p class="names">
                            <strong><%= @user.username %></strong><br />
                            <small><%= @user.fullname %></small>
                        </p>
                <div class="followings ">
                <div class="level-item d-flex justify-content-center">
                    <div class="px-3">
                        <p class="heading">Tweets</p>
                         <p class="tweets"><%=@user.authored_tweets.count%></p>
                    </div>
                    <div class="px-3">
                        <p class="heading">Following</p>
                        <p class="title is-6"><%=@user.followings.count%></p>
                    </div>
                    <div class="level-item">
                    <div>
                        <p class="heading">Followers</p>
                        <p class="title is-6"><%=@user.followers.count%></p>
                    </div>
                </div>
                </div>
				<div>
				  <%= follow_button(@user)%>
				</div>
				 <div>
                    <p class="heading">Followed by</p>
                    <%@user.followers.each do |follower|%>
                       <%= follower.fullname%>
                    <%end%>
                </div>
    </div>
	</div>
</div>
</div>

