<!DOCTYPE html>
<html>
  <head>
    <title>Africa Facts Zone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="title" property="og:title" content="Africa Facts Zone">
<meta property="og:type" content="website">
<meta name="image" property="og:image" content="https://github.com/ZawadiSumba66/twitter-redesign/raw/development/app/assets/images/screenshot2.jpeg">
<meta name="description" property="og:description" content="A desktop application where signed in users can tweet anything about Africa ranging from historic and political events, African heritage, natural features etc. ">
<meta name="author" content="Rose Sumba">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
     <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
  </head>

  <body>
    <%if flash[:notice]%>
      <div class = "alert-success alert_wrapper"><%= flash[:notice] %></div>
    <%elsif flash.now[:alert]%>
      <div class = "alert-error alert_wrapper"><%= flash[:alert] %></div>
    <%end%>
    <%= yield %>
  </body>
</html>
