<!DOCTYPE html>
<html>
  <head>
    <title>TwitterRedesign</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <meta name="description" content="_" />
<meta name="title" property="og:title" content="Africa Facts Zona" />
<meta property="og:type" content="_" />
<meta name="image" property="og:image" content="_" />
<meta name="description" property="og:description" content="_" />
<meta name="author" content="_" /> %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="Africa Facts Zone">
    <meta property="og:image" content="https://github.com/ZawadiSumba66/twitter-redesign/raw/development/app/assets/images/screenshot.png">
    <meta property="og:site_name" content="https://serene-dawn-02922.herokuapp.com/">
    <meta property="og:description" content="This is an application built with Ruby on Rails to help team members organize projects.">
    <%# <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="https://mighty-badlands-86456.herokuapp.com/">
    <meta property="twitter:title" content="Group our peojects">
    <meta property="twitter:description" content="This is an application built with Ruby on Rails to help team members organize projects."> %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
     <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
